<launch>

    <node name="create_bag_noisy" pkg="create_rosbag" type="create_bag_noisy" output="screen">
        <param name="input_folder"  type="string" value="/home/larry/data/dongy_new_test/"/>
        <param name="output_file" type="string" value="/home/larry/Desktop/chrono/dongy_new_test"/>
    </node>
</launch>
