<launch>

    <node name="create_bag" pkg="create_rosbag" type="create_bag" output="screen">
        <param name="input_folder"  type="string" value="/home/larry/data/chrono/smallA-Gyro-2024.10.11/"/>
        <param name="output_file" type="string" value="/home/larry/data/chrono/smallA-Gyro-2024.10.11.bag"/>
    </node>
        
</launch>
