<launch>
    <arg name="sequence" default="torque-A40F10V1-2024.10.25" />
    <arg name="input_folder" default="/home/larry/QSQ_Share/NewSequence/$(arg sequence)/" />
    <arg name="output_bag" default="/home/larry/QSQ_Share/NewSequence/output/$(arg sequence).bag" />
    <arg name="output_gt" default="/home/larry/QSQ_Share/NewSequence/output/gt_$(arg sequence).txt" />

    <node name="create_bag" pkg="create_rosbag" type="create_bag" output="screen">
        <param name="input_folder" value="$(arg input_folder)" />
        <param name="output_bag" value="$(arg output_bag)"/>
        <param name="output_gt" value="$(arg output_gt)"/>
    </node>
</launch>
